<?xml version="1.0" ?>
<subject>
	<identifier><![CDATA[$!{subjectDto.getLabel()}]]></identifier>
	<enrollment_date><![CDATA[$!{subjectDto.getEnrollmentDate()}]]></enrollment_date>
	<gender><![CDATA[$!{subjectDto.getGender()}]]></gender>
	<birth_date>$!{subjectDto.getBirthDate()}</birth_date>
	<operation><![CDATA[$!{subjectDto.getOperation()}]]></operation>
	<study_id><![CDATA[$!{subjectDto.getStudyId()}]]></study_id>
	<application>OpenClinica</application>
</subject>
